# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/oldInterface/node_modules
/oldInterface/.pnp
/oldInterface/.pnp.js

# testing
/oldInterface/coverage

# production
/oldInterface/build

# misc
/oldInterface/.DS_Store
/oldInterface/.env.local
/oldInterface/.env.development.local
/oldInterface/.env.test.local
/oldInterface/.env.production.local

/oldInterface/npm-debug.log*
/oldInterface/yarn-debug.log*
/oldInterface/yarn-error.log*

# dependencies
/newInterface/node_modules
/newInterface/.pnp
/newInterface/.pnp.js

# testing
/newInterface/coverage

# production
/newInterface/build

# misc
/newInterface/.DS_Store
/newInterface/.env.local
/newInterface/.env.development.local
/newInterface/.env.test.local
/newInterface/.env.production.local

/newInterface/npm-debug.log*
/newInterface/yarn-debug.log*
/newInterface/yarn-error.log*
