.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-listing {
  width: 100%;
  padding: 10px 0;
}

.search-listing.even {
  background-color: #DFDADF;
}

.search-listing.odd {
  background-color: #FFF;
}

.search-listing>p {
  font-size: 1.5em;
  margin: 0;
}

.carpark-listing {
  width: 100%;
}

.carpark-listing.even {
  background-color: #DFDADF;
}

.carpark-listing.odd {
  background-color: #FFF;
}

.carpark-listing>p {
  font-size: 1.5em;
  margin: 0;
}