.header {
  background-color: #f95b03;
}

.header-app-name {
  font-weight: bold;
  color: white;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 10px 0px;
}

.header-button {
  background: linear-gradient(to bottom, #b2e5fe 0%, #33a9ed 100%);
}

.white-background {
  background-color: white;
}

body {
  padding: 0px 0px 20px 0px;
}

.fa {
  color: white;
}

.search-option-button {
  background-color: #3e59cb;
  margin: 4px;
  border-radius: 0;
  padding: 15px 0px;
  font-size: 80%;
}

.selected-search-display {
  color: white;
  background-color: #266cb2;
  padding: 0px 10px;
  font-size: 130%;
}

.selected-search-redo {
  color: #f95b03 !important;
  background-color: #266cb2;
  font-size: x-large;
}

.selected-search-location {
  text-align: left;
  padding: 0px 10px;
  color: white;
  background-color: #dc545d;
}

.footer-button {
  color: white;
  font-weight: bold;
  border-radius: 0;
}

.footer-button-light {
  background-color: #889dea;
}

.footer-button-medium {
  background-color: #6885e9;
}

.footer-button-dark {
  background-color: #3e59cb;
}

.navbar {
  padding: 0px;
  margin: 0px;
}
